<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Apisys</title>
        <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
    <nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" th:href="@{/}">Apisys</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a th:href="@{/}">Home</a></li>
		      <li><a th:href="@{listaCursos}">Cursos</a></li>
		      <li><a th:href="@{listaAlunos}">Alunos</a></li>
		    </ul>
		  </div>
	</nav>
    <div class="container">
        <div class="jumbotron" align="center" style="margin-top: 50px;">
            <h1>Seja bem-vindo ao Apisys</h1>

            <p> Sistema para cadastro,leitura,edição e deleção de Alunos e Cursos</p>
            <br/>

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>